@theme {

    /* main theme */
    --color-body: var(--color-stone-950);
    --color-body-muted: var(--color-accent-dark);

    --color-heading: var(--color-body);

    --color-eyebrow: var(--color-highlight-dark);

    --color-surface: var(--color-white);
    --color-surface-muted: var(--color-light);

    --color-surface-inverted: var(--color-dark);
    --color-surface-inverted-muted: var(--color-muted);

    --color-border: var(--color-muted);
    --color-border-muted: var(--color-muted);

    --color-link: var(--color-accent);
    --color-link-hover: var(--color-accent-dark);

    /* --color-button: var(--color-surface);
    --color-button-bg: var(--color-accent);
    --color-button-hover-bg: var(--color-dark); */

    --color-button: var(--color-white);
    --color-button-bg: var(--color-accent);
    --color-button-hover: var(--color-white);
    --color-button-hover-bg: var(--color-dark);

    --color-button-inverted: var(--color-body);
    --color-button-inverted-bg: var(--color-soft);
    --color-button-inverted-hover: var(--color-muted);

    --color-button-inverted-hover: var(--color-muted-dark);
    --color-button-inverted-hover-bg: var(--color-light);

    --color-button-ghost: var(--color-body);
    --color-button-ghost-bg: transparent;
    --color-button-ghost-hover: var(--color-accent);

}

.theme-muted {
    --color-surface: var(--color-light);
}

/* Dark theme override */
.theme-dark {
    --color-body: var(--color-light);
    --color-body-muted: var(--color-soft);

    --color-heading: var(--color-body);

    --color-eyebrow: var(--color-highlight);

    --color-surface: var(--color-dark);
    --color-surface-muted: var(--color-accent-dark);

    --color-surface-inverted: var(--color-light);
    --color-surface-inverted-muted: var(--color-soft);

    --color-border: var(--color-soft);
    --color-border-muted: var(--color-muted);

    --color-link: var(--color-highlight);
    --color-link-hover: var(--color-accent);

    --color-button: var(--color-surface-inverted);
    /* --color-button-bg: var(--color-accent); */

    --color-accent: var(--color-highlight);

    --color-button-inverted: var(--color-surface);

    --color-button-ghost: var(--color-body);
    --color-button-ghost-bg: transparent;
    --color-button-ghost-hover: var(--color-soft);
}

/* Accent theme override */
.theme-accent {
    --color-body: var(--color-light);
    --color-body-muted: var(--color-soft);

    --color-eyebrow: var(--color-highlight);

    --color-surface: var(--color-accent);
    --color-surface-muted: var(--color-highlight);

    --color-surface-inverted: var(--color-light);
    --color-surface-inverted-muted: var(--color-soft);

    --color-border: var(--color-accent-dark);
    --color-border-muted: var(--color-muted-dark);

    --color-link: var(--color-light);
    --color-link-hover: var(--color-accent-dark);

    --color-button: var(--color-body);
    --color-button-bg: var(--color-dark);
    --color-button-hover: var(--color-dark);
    --color-button-hover-bg: var(--color-highlight);

    --color-button-inverted: var(--color-surface);
    --color-button-inverted-hover: var(--color-surface);
    --color-button-inverted-hover-bg: var(--color-highlight);

    --color-button-ghost: var(--color-body);
    --color-button-ghost-bg: transparent;
    --color-button-ghost-hover: var(--color-soft);
}

/* Accent Dark theme override */
.theme-accent-dark {
    --color-body: var(--color-light);
    --color-body-muted: var(--color-soft);

    --color-heading: var(--color-body);

    --color-eyebrow: var(--color-highlight);

    --color-surface: var(--color-accent-dark);
    --color-surface-muted: var(--color-highlight-dark);

    --color-surface-inverted: var(--color-light);
    --color-surface-inverted-muted: var(--color-soft);

    --color-border: var(--color-soft);
    --color-border-muted: var(--color-muted);

    --color-link: var(--color-highlight);
    --color-link-hover: var(--color-accent);

    --color-button: var(--color-white);
    --color-button-bg: var(--color-accent);
    --color-button-hover: var(--color-dark);
    --color-button-hover-bg: var(--color-highlight);

    --color-button-inverted: var(--color-surface);
    --color-button-inverted-hover: var(--color-surface);
    --color-button-inverted-hover-bg: var(--color-highlight);

    --color-button-ghost: var(--color-body);
    --color-button-ghost-bg: transparent;
    --color-button-ghost-hover: var(--color-soft);
}


/* Utility classes for animations and transitions */
[class^="bg-"],
[class^="text-"] {
    @apply transition-colors duration-200;
}

@view-transition {
    navigation: auto;
}
