<div class="set-buttons button-group not-prose flex flex-wrap gap-4 my-12">
    {{ buttons }}
        {{ if type == 'button' && (linked_entry || link_to_external) && link_style }}
            {{ _button_href = link_to_external ? external_link : linked_entry:url }}
            {{ _button_text = override_link_text && linked_entry ? button_text : linked_entry:title }}
            {{ _button_text = link_to_external ? button_text : _button_text }}
            {{ partial:partials.button :href="_button_href" :text="_button_text" :variant="link_style" }}
        {{ /if }}
    {{ /buttons }}
</div>
