<div class="carousel-container overflow-hidden not-prose" x-data="carousel( {{ auto_play ? 'true' : 'false' }} )">
    <div class="splide w-full" x-ref="carousel">
        <div class="splide__track">
            <ul class="splide__list">
                {{ images }}
                    <li class="splide__slide relative aspect-video w-full">
                        {{ glide :src="url" width="1200" height="800" }}
                            <img src="{{ url }}" alt="{{ alt }}" class="object-cover object-center w-full h-full">
                        {{ /glide }}
                    </li>
                {{ /images }}
            </ul>
        </div>
    </div>

    {{ if show_index }}
    <div class="flex justify-end mt-1 gap-1 text-sm">
        <span x-text="activeIndex + 1"></span> / <span>{{ images | count }}</span>
    </div>
    {{ /if }}

    <div class="flex justify-center gap-8 text-center mx-auto mt-2">
        <button @click="prevSlide" class="p-2" x-bind:disabled="isPrevDisabled" class="disabled:opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
        </button>
        <button @click="nextSlide" class="p-2" x-bind:disabled="isNextDisabled" class="disabled:opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </button>
    </div>
</div>
