<footer class="mt-auto py-16 lg:pt-24 bg-surface text-body theme-dark">
    <h2 class="sr-only">{{ site:name }} Footer Information</h2>
    <div class="container">
        <div class="grid lg:grid-cols-8 mb-24 gap-16 lg:gap-8">
            <div class="lg:col-span-2">
                {{ if brand_assets:light_logo }}
                    <a href="/" class="font-semibold text-lg">
                        {{ glide :src="brand_assets:light_logo" width="200" }}
                            <img src="{{ url }}" alt="{{ alt }}" class="h-8 lg:h-16 w-auto" width="200" height="160">
                        {{ /glide }}
                        <span class="sr-only">
                            {{ site:name }}
                        </span>
                    </a>
                {{ else }}
                    <a href="/" class="font-semibold text-lg">
                        {{ site:name }}
                    </a>
                {{ /if }}
            </div>
            <div class="lg:col-span-2">
                <h3 class="font-semibold mb-5 pb-5 border-b border-border-muted text-body">Menu</h3>
                {{ partial:nav.footer }}
            </div>
            <div class="lg:col-span-2">
                <h3 class="font-semibold mb-5 pb-5 border-b border-border-muted text-body">Our Socials</h3>
                {{ if organization_info:social_links }}
                    <ul class="list-none flex gap-2">
                        {{ organization_info:social_links }}
                            <li>
                                <a href="{{ link }}" class="underline hover:text-muted transition-colors">
                                    <span class="size-8 block">
                                        {{ partial src="icons/{social_platform:value}" }}
                                    </span>
                                    <span class="sr-only">{{ social_platform:label }}</span>
                                </a>
                            </li>
                        {{ /organization_info:social_links }}
                    </ul>
                {{ /if }}
            </div>
            <div class="lg:col-span-2">
                <h3 class="font-semibold mb-5 pb-5 border-b border-border-muted text-body">Our Location</h3>
                <div class="text-sm space-y-2">
                    <p>{{ organization_info:address }}</p>
                    <p>{{ organization_info:phone_number }}</p>
                    <p class="hover:text-muted transition-colors">
                        <a href="mailto:{{ organization_info:email | obfuscate }}">{{ organization_info:email | obfuscate }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="lg:mx-auto  mt-32">
            <ul class="flex flex-col lg:flex-row justify-center gap-4 list-none">
                {{ partial:nav.tertiary }}
            </ul>
        </div>
        <p class="text-xs lg:text-center text-body-muted/80 mt-8">&copy; 2024 - {{ date iso_format="YYYY" }} Michael LaRoy - {{ site:name }}. All Rights Reserved.</p>
    </div>
</footer>
