{{ if notification_banner:show_news_banner }}
    <section
        x-show="notificationBarVisible"
        x-collapse
        x-cloak
        x-transition:leave="ease-in"
        x-transition:leave-start="translate-y-0"
        x-transition:leave-end="-translate-y-full"
        x-transition:enter="ease-out "
        x-transition:enter-start="-translate-y-full"
        x-transition:enter-end="translate-y-0"
        class="bg-surface theme-accent relative z-50 h-12 transform transition duration-300"
    >
        <div class="container relative h-12 flex flex-col">
            <div class="flex lg:justify-center items-center pr-8 lg:pr-0 h-full">
                <div class="text-sm prose prose-p:text-body prose-a:text-link">{{ notification_banner:announcement }}</div>
            </div>
            <button @click="closeNotificationBar()" type="button" class="text-body absolute right-4 top-1/2 transform -translate-y-1/2 cursor-pointer">
                <span class="sr-only">Close</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </section>
{{ /if }}
