{{ if variant == "inverted" }}
    {{ variant_class = "button-inverted" }}
{{ elseif variant == "ghost" }}
    {{ variant_class = "button-ghost" }}

{{ elseif variant == "link" }}
    {{ variant_class = "text-link underline hover:text-link-hover" }}
{{ else }}
    {{ variant_class = "button" }}
{{ /if }}

{{ if size == "small" }}
    {{ size_class = "button-small" }}
{{ else }}
    {{ size_class = "" }}
{{ /if }}

<a
    href="{{ href }}"
    class="{{ variant_class}} {{ size_class }}"
    {{ if target }}target="{{ target }}" rel="noopener noreferrer"{{ /if }}
    x-ref="link"
    @click="handleAnalyticsEvent(
        {
            href: `{{ href }}`,
            title: `{{ text }}`,
            type: 'click',
            current_url: `{{ current_url }}`
        })"
    >
    {{ text ?? slot }}
</a>
