<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased scroll-smooth overscroll-none">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial:layout/seo }}
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        {{ partial:components/analytics }}
    </head>
    <body
        data-analytics-platform="{{ site_config:enable_fathom ? 'fathom' : 'google' }}"
        :class="isMenuOpen || isOffcanvasOpen ? 'off-canvas-open overflow-hidden' : 'off-canvas-closed'"
        class="bg-surface font-sans leading-normal text-primary min-h-[100vh] h-screen flex flex-col" x-data="app({
        showBar: {{ notification_banner:show_news_banner ? 'true' : 'false' }},
        enableEventTracking: {{ site_config:enable_event_tracking ? 'true' : 'false' }},
    })">
        <a href="#content" class="sr-only focus:not-sr-only focus:inline-block px-4 py-2 bg-surface text-link focus:absolute focus:z-50 rounded text-center">
            Skip to content
        </a>

        {{ partial:components/banner }}

        {{ partial:layout/header }}

        <main id="content">
            {{ template_content }}
        </main>

        {{ partial:layout/footer }}

        {{ partial:components.modal }}
    </body>
</html>
