{{#
    @name Intro
    @desc The Intro page builder block.
    @set page.page_builder.intro
#}}

<!-- /page_builder/_basic_hero.antlers.html -->

{{ $style = main_header_style == 'transparent' ? 'pb-16 pt-48 lg:pb-24 lg:pt-56' : 'py-24 lg:py-24' }}

{{ partial:page_builder/block }}
    <div class="basic-hero-container py-16 bg-surface {{ $style }}">
        <div class="container">
            <div class="grid lg:grid-cols-2 gap-8">
                <div class="flex flex-col justify-center lg:max-w-3/4">
                    <p class="eyebrow mb-4">{{ eyebrow_text }}</p>
                    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-7xl font-semibold text-balance text-body">{{ heading }}</h1>
                    <div class="prose prose-xl prose-p:text-body-muted mt-4">
                        {{ description }}
                    </div>
                    {{ if linked_entry && link_style }}
                        <div class="mt-8">
                            {{ partial:components.button :href="linked_entry:url" :text="linked_entry:title" :variant="link_style" }}
                        </div>
                    {{ /if }}
                </div>
                {{ if featured_image }}
                    <div class="flex flex-col items-center justify-center">
                        {{ glide:featured_image }}
                            <img src="{{ url }}" alt="{{ alt }}" class="block" />
                        {{ /glide:featured_image }}
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_basic_hero.antlers.html -->
