{{#
    @name Callout Grid
    @desc The Callout Grid page builder block.
    @set page.page_builder._callout_grid
#}}

<!-- /page_builder/_callout_grid.antlers.html -->
{{ partial:page_builder/block }}
    <div class="callout-grid py-16 lg:py-24 bg-surface">
        <div class="container space-y-8">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16 lg:mx-24">
                {{ callout_item }}
                    <div class="flex gap-8">
                        {{ if grid_image }}
                            <div class="flex-shrink-0 w-16 h-16 bg-surface-muted rounded-full flex items-center justify-center mr-4">
                                {{ glide :src="grid_image" width="200" height="200" }}
                                    <img src="{{ url }}" alt="{{ alt }}" class="object-cover object-center absolute inset-0 w-full h-full block">
                                {{ /glide }}
                            </div>
                        {{ /if }}
                        <div>
                            <h3 class="text-xl lg:text-2xl font-semibold mb-4 text-body text-balance">{{ grid_headline }}</h3>
                            <div class="mb-4 text-body-muted-dark text-lg text-balance">
                                {{ grid_content }}
                            </div>
                        </div>
                    </div>
                {{ /callout_item }}
            </div>
        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_callout_grid.antlers.html -->
