{{#
    @name CTA Bumper
    @desc The CTA Bumper page builder block.
    @set page.page_builder.cta_bumper
#}}

<!-- /page_builder/_cta_bumper.antlers.html -->
{{ partial:page_builder/block }}

<div class="cta-bumper-container py-16 lg:py-24 bg-surface">
    <div class="container">
        <div class="flex flex-col items-center">
            <div class="w-full lg:w-1/2 mx-auto lg:text-center">
                <h2 class="text-3xl lg:text-4xl mb-4 font-semibold text-body">{{ cta_heading }}</h2>
                <div class="text-xl text-body-muted">
                    {{ short_description }}
                </div>

                {{ if cta_link && cta_text !== '' }}
                    <div class="mt-8">
                        {{ partial:components.button :href="cta_link:url" :text="cta_text" variant="ghost" }}
                    </div>
                {{ /if }}
            </div>

        </div>
    </div>

</div>

{{ /partial:page_builder/block }}
<!-- End: /page_builder/_cta_bumper.antlers.html -->
