{{#
    @name Fifty Fifty Split
    @desc The Fifty Split page builder block.
    @set page.page_builder._fifty_split
#}}

<!-- /page_builder/_fifty_split.antlers.html -->
{{ partial:page_builder/block }}
    <div class="fifty-fifty-container py-16 lg:py-24 bg-surface">
        <div class="container space-y-8">
            {{ sections }}
                <div class="fifty-fifty-item  flex flex-col {{ orientation == 'left' ? 'lg:flex-row-reverse' : 'lg:flex-row'}} lg:gap-8 mx-auto justify-center items-center lg:px-24">
                    <div class="aspect-square relative overflow-hidden bg-black w-full lg:w-1/2">
                        {{ glide :src="image" width="600" height="600" }}
                            <img src="{{ url }}" alt="{{ alt }}" class="object-cover object-center absolute inset-0 w-full h-full block">
                        {{ /glide }}
                    </div>
                    <div class="h-full w-full lg:w-1/2 bg-surface-muted p-8">
                        <div>
                            <h3 class="font-semibold text-xl lg:text-3xl mb-4 text-heading">{{ heading }}</h3>
                            <div class="prose prose-xl mb-4 text-muted">
                                {{ content }}
                            </div>
                            {{ if cta_link && cta_text !== '' }}
                                {{ partial:components.button :href="cta_link:url" :text="cta_text" variant="ghost" }}
                            {{ /if }}
                        </div>
                    </div>
                </div>
            {{ /sections }}
        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_fifty_split.antlers.html -->
