{{#
    @name Intro
    @desc The Intro page builder block.
    @set page.page_builder.intro
#}}

<!-- /page_builder/_intro.antlers.html -->
{{ partial:page_builder/block }}
    <div class="intro-container py-16 lg:py-24 bg-surface">
        <div class="container">
            <p class="eyebrow mb-4">Eyebrow</p>
            <div class="grid gap-8 {{ intro_layout == 'vertical' ? ' grid-cols-1 ' : 'grid-cols-1 md:grid-cols-2' }}">
                <div class="col-span-2 md:col-span-1">
                    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-balance text-body">{{ heading }}</h2>
                </div>
                <div class="text-xl col-span-2 md:col-span-1 ">
                    <div class="prose prose-xl prose-p:text-body-muted">
                        {{ intro_text }}
                    </div>

                    {{ if linked_entry && link_style }}
                        <div class="mt-8">
                            {{ partial:components.button :href="linked_entry:url" :text="linked_entry:title" :variant="link_style" }}
                        </div>
                    {{ /if }}
                </div>
            </div>

        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_intro.antlers.html -->
