<!-- /page_builder/_logo_cloud.antlers.html -->
{{ partial:page_builder/block }}
    <div class="logo-cloud-container py-16 lg:py-24 bg-surface">
        <div class="container">
            <div class="flex flex-col items-center">
                <div class="w-full lg:w-2/3 mx-auto">
                    {{ partial:components.content_group
                        :eyebrow_text="eyebrow_text"
                        :heading="heading"
                        :content="description"
                        center="desktop"
                    }}

                   {{ if logos }}
                        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-12 mt-16">
                            {{ glide:logos width="350" }}
                                <div class="flex justify-center items-center">
                                    <img src="{{ url }}" alt="{{ alt }}" width="350" height="250" class="object-cover object-center block w-32">
                                </div>
                            {{ /glide:logos }}
                        </div>
                   {{ /if }}
                </div>

            </div>
        </div>
    </div>
{{ /partial:page_builder/block }}
{{# End: /page_builder/_logo_cloud.antlers.html #}}
