{{#
    @name Team Members Teaser
    @desc The Team Members Teaser page builder block.
    @set page.page_builder.team_members_teaser
#}}

<!-- /page_builder/_team_members.antlers.html -->
{{ partial:page_builder/block }}
    <div class="team-members-teaser-container py-16 lg:py-24 bg-surface">
        <div class="container">
            {{ partial:components.content_group
                :eyebrow_text="eyebrow_text"
                :heading="heading"
                :content="description"
            }}
            <div class="grid md:grid-cols-3 gap-4 md:gap-8 mt-8 lg:mt-16">
                {{ if team_members }}
                    {{ team_members }}
                        {{ partial:team.teaser }}
                    {{ /team_members }}
                {{ else }}
                    {{ collection:team limit="3" }}
                        {{ partial:team.teaser }}
                    {{ /collection:team }}
                {{ /if }}
            </div>

            <div class="team-members-teaser-cta text-center mt-20">
                {{ partial:components.button href="/team" text="Meet Our Team &rarr;" }}
            </div>
        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_team_members.antlers.html -->
