<div class="container mt-8 pb-16">
    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold mb-8">{{ title }}</h1>

    <ul class="inline-flex gap-2 mt-4">
        <li><span class="button button-small current">All</span></li>
        {{ taxonomy:categories }}
            <li>
                <a href="{{ url }}" class="button button-small button-inverted">
                    {{ title }}
                </a>
            </li>
        {{ /taxonomy:categories }}
    </ul>


    {{ collection:blog as="posts" paginate="true" sort="date:desc" on_each_side="1"  }}
        <ul class="list-none text-lg lg:text-xl mt-8 grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-8">
            {{ posts }}
                <li>
                    {{ partial:blog.teaser heading_size="h2" }}
                </li>
            {{ /posts }}

        </ul>

        {{ if pagination }}
            <div class="mt-24">
                {{ partial:components.pagination }}
            </div>
        {{ /if }}
    {{ /collection:blog }}
</div>

{{ partial:components.page_blocks }}
