<!-- /_basic_hero.antlers.html -->
{{ $style = main_header_style == 'transparent' ? 'pb-16 pt-48 lg:pb-24 lg:pt-56' : 'py-24 lg:py-24' }}

{{ partial:page_blocks.component }}
    <div class="basic-hero-container py-16 bg-surface {{ $style }}">
        <div class="container">
            <div class="grid lg:grid-cols-2 gap-8">
                <div class="flex flex-col justify-center lg:max-w-3/4">
                    {{ partial:components.content_group
                        :eyebrow_text="eyebrow_text"
                        :heading="heading"
                        :content="description"
                        heading_tag="h1"
                    }}

                    {{ if linked_entry && link_style }}
                        <div class="mt-8">
                            {{ partial:components.button :href="linked_entry:url" :text="linked_entry:title" :variant="link_style" }}
                        </div>
                    {{ /if }}
                </div>
                {{ if featured_image }}
                    <div class="flex flex-col items-center justify-center">
                        {{ glide:featured_image width="1200" height="800" }}
                            <img src="{{ url }}" alt="{{ alt }}" class="block" width="1200" height="800" loading="lazy" />
                        {{ /glide:featured_image }}
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
{{ /partial:page_blocks.component }}
<!-- /_basic_hero.antlers.html -->
