<s:partial:page_blocks.component>
    <div class="blog-teaser-container py-16 lg:py-24 bg-surface">
        <div class="container">
            <s:partial:components.content_group
                :eyebrow_text="eyebrow_text"
                :heading="heading"
                :content="description"
            />
            <div class="grid md:grid-cols-3 gap-4 md:gap-8 mt-8 lg:mt-16">
                {{ if blog_posts }}
                    {{ blog_posts }}
                        <s:partial:blog.teaser />
                    {{ /blog_posts }}
                {{ else }}
                    <s:collection:blog limit="3">
                        <s:partial:blog.teaser />
                    </s:collection:blog>
                {{ /if }}
            </div>

            <div class="blog-teaser-cta text-center mt-20">
                <s:partial:components.button href="/blog" text="More Posts &rarr;" />
            </div>
        </div>
    </div>
</s:partial:page_blocks.component>
