{{ partial:partials.section }}
    <div class="intro-container py-16 lg:py-24 bg-surface">
        <div class="container">
            <p class="eyebrow mb-2 lg:mb-4">{{ eyebrow_text }}</p>
            <div class="grid gap-2 lg:gap-4 {{ intro_layout == 'vertical' ? ' grid-cols-1 ' : 'grid-cols-1 md:grid-cols-2' }}">
                <div class="col-span-2 md:col-span-1">
                    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-balance text-body">{{ heading }}</h2>
                </div>
                <div class="text-xl col-span-2 md:col-span-1 ">
                    <div class="prose lg:prose-xl prose-p:text-body-muted">
                        {{ description }}
                    </div>

                    {{ partial:partials.link }}
                </div>
            </div>
        </div>
    </div>
{{ /partial:partials.section }}
