<s:partial:page_blocks.component>
    <div class="fifty-fifty-container py-16 lg:py-24 bg-surface">
        <div class="container space-y-16">
            {{ sections }}
                <div class="fifty-fifty-item  flex flex-col {{ orientation == 'left' ? 'lg:flex-row-reverse' : 'lg:flex-row' }} lg:gap-8 mx-auto justify-center items-center">
                    <div class="aspect-video lg:aspect-[4/3] relative lg:overflow-hidden bg-black w-full lg:w-1/2">
                        <s:glide :src="image" width="1600" height="1600">
                            <img src="{{ url }}" alt="{{ alt }}" class="object-cover object-center absolute inset-0 w-full h-full block">
                        </s:glide>
                    </div>
                    <div class="h-full w-full lg:w-1/2  p-8 lg:px-12">
                        <div>
                            <s:partial:components.content_group
                                :eyebrow_text="eyebrow_text"
                                :heading="heading"
                                :content="description"
                                heading_tag="h3"
                            />

                            <s:partial:components.link />
                        </div>
                    </div>
                </div>
            {{ /sections }}
        </div>
    </div>
</s:partial:page_blocks.component>
