<div class="container mt-8 pb-16">
    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold mb-8">{{ title }}</h1>

    <ul class="inline-flex gap-2 mt-4">
        <li><a href="/blog" class="button button-small button-inverted">All</a></li>
        {{ taxonomy:categories scope="tax" }}
            <li>
                <a
                    href="{{ tax:url }}"
                    class="button button-small {{ if tax:slug == page:slug }}current{{ else }} button-inverted{{ /if }}">
                    {{ tax:title }}
                </a>
            </li>
        {{ /taxonomy:categories }}
    </ul>

    {{ collection:blog taxonomy:categories="{{ slug }}" as="posts" paginate="12"  }}
        {{ unless posts }}
            <p class="mt-8">No posts in the <strong>{{ slug }}</strong> category.</p>
        {{ /unless }}
        <ul class="list-none text-lg lg:text-xl mt-8 grid md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-8">
            {{ posts }}
                <li>
                    {{ partial:blog.teaser }}
                </li>
            {{ /posts }}
        </ul>
    {{ /collection:blog  }}
</div>
